{{#unless hideMenu}}
  <header class="navbar navbar-full navbar-dark navbar-static-top bd-navbar bg-plant bg-inverse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav">
          {{link-to 'Garden Plants' 'garden' class="nav-item navbar-brand"}}
          <li class="nav-item float-xs-right">
            <a href="/signout" class="nav-item nav-link">Sign Out</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    {{outlet}}
  </div>
{{else}}
  {{outlet}}
{{/unless}}
