<div class="row">
  <div class="col-md-3 col-xs-6">
    {{#link-to "capture" class="btn btn-primary btn-sq-lg"}}
      <div>
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h3>Capture</h3>
      </div>
    {{/link-to}}
  </div>

  <div class="col-md-3 col-xs-6">
    {{#link-to "capture" class="btn btn-primary btn-sq-lg"}}
      <div>
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h3>Capture</h3>
      </div>
    {{/link-to}}
  </div>

  <div class="col-md-3 col-xs-6">
    {{#link-to "capture" class="btn btn-primary btn-sq-lg"}}
      <div>
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h3>Capture</h3>
      </div>
    {{/link-to}}
  </div>

  <div class="col-md-3 col-xs-6">
    {{#link-to "capture" class="btn btn-primary btn-sq-lg"}}
      <div>
        <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
        <h3>Capture</h3>
      </div>
    {{/link-to}}
  </div>
</div>
