<div class="video-wrapper">
  <div class="loader">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
  <video autoplay></video>
</div>
<canvas id="video-canvas" width="800" height="600" style="width: 800px; height: 600px; display: none"></canvas>
