@import 'bootstrap'
@import 'mixins/square-buttons'
@import 'mixins/grid'
@import 'font-awesome-sprockets'
@import 'font-awesome'

.home-image
  width: 100%
  max-width: 500px

.bg-plant
  background-color: #0c4000

video
  width: 100%
  max-width: 800px
  max-height: 100vh

  @media (max-width: 543px)
    max-height: 400px

.flex-center
  display: inline-flex
  align-items: center
  justify-content: center

.fa-6x
  font-size: 6em

.button-controls
  max-width: 600px
  margin-left: auto
  margin-right: auto

.capture.container
  overflow: hidden
