@import 'bootstrap'
@import 'mixins/square-buttons'
@import 'font-awesome-sprockets'
@import 'font-awesome'

.home-image
  width: 100%
  max-width: 500px

.bg-plant
  background-color: #0c4000

video
  width: 100%
  max-width: 800px
